<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>骷髅打金服</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }
        #video-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    </style>
</head>
<body>
<div id="video-container">
    <iframe
            src="//player.bilibili.com/player.html?isOutside=true&aid=1801936155&bvid=BV1jt42157MS&cid=1471360938&p=1&autoplay=1&loop=1&danmaku=0&muted=0"
            scrolling="no"
            frameborder="no"
            framespacing="0"
            allowfullscreen="true"
    ></iframe>
</div>
</body>
</html>