/* 全局重置 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

h1 {
    font-size: 28px;
}

a {
    display: inline-block;
    text-decoration: none;
    background-color: #edf0f3;
    border: 1px solid #9b9c9e;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    margin-bottom: 15px;

    text-decoration: none;
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    transition: color 0.3s ease-in-out;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
}

a:hover {
    color: #286cf5;
    background-color: #f0f0f0;
}



table {
    
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    
    background-color: #c1c1c1eb;
    color: #010101;
}

th,
td {
    
    padding: 10px;
    border: 1px solid #f0ebeb;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f4f4f4;
}

tbody tr:hover {
    background-color: #e0e0e0;
}

tbody a {
    color: #000;
    margin: 0 5px;
}