/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #f0eded;
    background-color: #f4f4f4;
  }
  
  /* Header styles */
  header {
    background-color: #2e2d2d;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  header h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  nav ul li {
    margin-right: 1rem;
    margin-bottom: 0.5rem;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #f3efef;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #666;
  }
  
  .search-form {
    margin-top: 1rem;
    display: flex;
  }
  
  .search-form input[type="text"] {
    flex-grow: 1;
    padding: 0.5rem;
    border: 1px solid #ddd;
  }
  
  .search-form button {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-form button:hover {
    background-color: #555;
  }
  
  /* Main content styles */
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    flex-direction: column;
  }
  
  .news-list {
    order: 1;
    
  }
  .search-result {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

  #news-list h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: #666;
  }
  
  article {
    background-color: #fff;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  article h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  article h2 a {
    color: #272424;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  article h2 a:hover {
    color: #141212;
  }
  
  article p {
    font-size: 0.9rem;
    color: #666;
  }
    
  /* Pagination styles */
  .pagination {
    order: 3;
    text-align: center;
    margin-top: 20px;
  }
  
  .page-link, .current-page {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0 0.25rem;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    transition: background-color 0.3s ease;
  }
  
  .page-link:hover {
    background-color: #f4f4f4;
  }
  
  .current-page {
    font-weight: bold;
    background-color: #333;
    color: #fff;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
  }
  
  
  /* Ad space styles */
  .ads {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.ad1-space,
.ad2-space,
.ad3-space {
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    padding: 10px;
    text-align: center;
}

.banner {
    font-size: 18px;
    font-weight: bold;
    color: #5b5959;
}

.logo {
    width: 80px;
    height: auto;
    
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
    color: #007BFF;
    font-size: 14px;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.popup {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 150px;
    height: 120px;
    background-color: #FF5733;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 1000;
    line-height: 120px;
    color: white;
}

.floating-img {
    width: 80px;
    height: auto;
    animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.floating-text {
    color: #FF0000;
    font-size: 12px;
    font-weight: bold;
    animation: floating-text 3s ease-in-out infinite;
}

@keyframes floating-text {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}
  /* Pagination styles */
  .pagination {
    margin-top: 20px;
    
   
    text-align: center;
  }
  
  .page-link, .current-page {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0 0.25rem;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    transition: background-color 0.3s ease;
  }
  
  .page-link:hover {
    background-color: #f4f4f4;
  }
  
  .current-page {
    font-weight: bold;
    background-color: #333;
    color: #fff;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    main {
      flex-direction: column;
    }
  
    #news-list, #ad-space {
      flex-basis: 100%;
    }
  
    #ad-space {
      margin-top: 2rem;
    }
  }